/* This file is just the original colors used and put into variables - think of it as a backup of the original colors chosen */

$var1 : #565656;
$var2 : #235b94;
$var3 : #fff;
$var4 : #2972bb;
$var5 : #2c69fb;
$var6 : #d3d3d3;
$var7 : #6fb0f3;
$var8 : #bec4cb;
$var9 : #3ba39d;
$var10 : #4a6582;
$var11 : #000;
$var12 : #091c1c;
$var13 : #1e5b94;
$var14 : #06355f;
$var15 : #005c96;
$var16 : #2e74b8;
$var17 : #174573;
$var18 : #74baff;
$var19 : #333;
$var20 : #edfbfa;
$var21 : #62d6cf;
$var22 : #1cb7b9;
$var23 :#1d4267;
$var24 : rgba(35, 91, 148, .5); // #235b94
$var25 : #0a1929;
$var26 : #28706b;
$var27 : rgba(65, 180, 173, 0.8); // #41b4ad
$var28 : #eff6fd;
$var29 : #103d64;
$var30 : #dfe9f3;
$var31 : #1c252f;
$var32 : #225b94;
$var33: #20405c;
$var34: #d1d4da;
$var35 : #383e46;
$var36: #e4ebf7;
$var37: #42a0bd;
$var37: #12304e;
$var38 : #41b4ad;
$var39 : #6deced;
$var40 : #808080;

$var41 : #1a4979;
$var42 :  #153b63;
$var43 : #102f4f;
$var44 :  #3ab4ae;
$var45 : #30918c;
$var46 : #2a7c78;
$var47: #5d656f;
$var48: #f8e87c;
$var49: #e9f2f8;
$var50: #ddf6f7;
