/* This file is just the original colors used and put into variables - think of it as a backup of the original colors chosen */
/* UNFORTUNATELY I DIDN'T GET AROUND TO FIND-REPLACING ALL OF THE VARIABLE COLORS IN THE ACTUAL SCSS*/

// ORIGINAL COLOR VARIABLES sent by Hunter
$blue: #1d4267;
$blue-dark: #1c252f;
$blue-light: #6fb0f3;
$blue-superlight: #e4ebf8;
$blue-white: #eff6fd;
$text-blue: #3181d2;
$text-blue--light: #6fb0f3;
$text-blue--med: #235b94;
$teal: #41b4ad;
$teal-med: #1cb7b9;
$teal-text: #62d6cf;
$yellow: #f8e87c;
$gray: #bec4cb;
$gray-dark: #1c252f;
$gray-med: #383e46;
$gray-light: #5d656f;
$white: #fff;

/* ACTUAL COLORS USED */
$var1: #00356A;
$var2: #07437E;
$var3:  #002b36;
$var4: #6ce86c;
$var5: #000;
$var6: #111;
$var7: #004182;
$var8: #0073E6;
$var9: #2c69fb;
$var10: $blue-dark;
$var11: $blue;
$var12: $white;
$var13: #e0e0e0;
$var14: #555;
$var15: #002641;
$var16: #ecf3ff;
$var17: rgba(255, 255, 255, 0.25); // #fff
$var18: rgba(0, 0, 0, 0.35); // #000
$var19: #005DBA;
$var20: #00192b;
$var21: $text-blue;
$var22: #789ff2;
$var23: #004475;
$var24: #8ac4ff;
$var25: $blue-light;
$var26: rgba(0, 0, 0, .5); // #000
$var27: rgba(35, 91, 148, 0.7); // #235b94
$var28: rgba(0, 0, 0, 0.25); // #000
$var29: rgba(0, 0, 0, 0.75); // #000
$var30: $text-blue--med;
$var31: #ddd;
$var32: #001d31;
$var33: $gray-med;
$var34: $teal;
$var35: rgba(0,0,0,.9); // #000
$var36: $gray-light;
$var37: $blue-superlight;
$var38: #005c96;
$var39: #4a4a4a;
$var40: #4984a2;
$var41: #1f465f;
$var42: #3cb371;
$var43: #ff8c00;
$var44: #dc143c;
$var45: #7e4984;
$var46: #58b2a0;
$var47: #6d6d6d;
$var48: #404040;
$var49: #7197c2;

// Bootstrap Buttons "fix buttons in webparts
$var50: rgba(0,123,255,.25); // #007bff
$var51: rgba(0,123,255,.5); // #007bff
$var52: #007bff;
$var53: #0069d9;
$var54: #0062cc;
$var55: #005cbf;
$var56: rgba(108,117,125,.5); // #6c757d
$var57: #6c757d;
$var58: #5a6268;
$var59: #545b62;
$var60: #4e555b;
$var61: rgba(40, 167, 69, 0.5); // #28a745
$var62: #28a745;
$var63: #218838;
$var64: #1e7e34;
$var65: #1c7430;
$var66: rgba(23, 162, 184, 0.5); // #17a2b8
$var67: #17a2b8;
$var68: #138496;
$var69: #117a8b;
$var70: #10707f;
$var71: rgba(255, 193, 7, 0.5); // #ffc107
$var72: #ffc107;
$var73: #e0a800;
$var74: #d39e00;
$var75: #c69500;
$var76: rgba(220, 53, 69, 0.5); // #dc3545
$var77: #dc3545;
$var78: #c82333;
$var79: #bd2130;
$var80: #b21f2d;
$var81: rgba(248, 249, 250, 0.5); // #f8f9fa
$var82: #f8f9fa;
$var83: #212529;
$var84: #e2e6ea;
$var85: #dae0e5;
$var86: #d3d9df;
$var87: rgba(52, 58, 64, 0.5); // #343a40
$var88: #343a40;
$var89: #23272b;
$var90: #1d2124;
$var91: #171a1d;
$var92: #0056b3;
//

$var93: $text-blue--light;
$var94: $teal-text;
$var95: $gray;
$var96: #9f9f9f;
$var97: rgba(0, 0, 0, 0.25); // #000

// smartforms
$var98: #f5f5f5;
$var99: #b0b0b0;
$var100: #ff0000;
$var101: #333;

// MS stuff
$var102: rgb(255, 241, 157); // #fff19d
$var103: rgb(215, 216, 137); // #d7d889
$var104: #eee;
$var105: aliceblue; // #f0f8ff
$var106: #f8d7da;
$var107: #d32121;
//

$var108: #c7c7c7;
$var109: rgba(39,51,64,.9); // #273340
$var110: $blue-white;

// DPU Notice Banner
$var111: #856404;
$var112: #fff3cd;
$var113: #ffeeba;
//




















