html {
  background-color: #0e4174 !important;
}

[class*=theme-] {
  border-top-color: #0e4174 !important;
  /* tagmanager styling */
}
[class*=theme-] #s4-bodyContainer {
  color: #565656;
  background-color: #fff;
  /* cludo styling */
  /* tagmanager styling */
  /* Add to stylesheet post launch */
  /* structure */
  /*font size classes*/
  /* theme */
}
[class*=theme-] #s4-bodyContainer :focus {
  outline-color: currentColor;
}
[class*=theme-] #s4-bodyContainer #ga-maincontent a:not([class^=btn]):not([class^=cta]) {
  color: #0e4174;
}
[class*=theme-] #s4-bodyContainer h1,
[class*=theme-] #s4-bodyContainer h2,
[class*=theme-] #s4-bodyContainer h3,
[class*=theme-] #s4-bodyContainer h4,
[class*=theme-] #s4-bodyContainer h5,
[class*=theme-] #s4-bodyContainer h6,
[class*=theme-] #s4-bodyContainer .h1,
[class*=theme-] #s4-bodyContainer .h2,
[class*=theme-] #s4-bodyContainer .h3,
[class*=theme-] #s4-bodyContainer .h4,
[class*=theme-] #s4-bodyContainer .h5,
[class*=theme-] #s4-bodyContainer .h6 {
  color: #000;
}
[class*=theme-] #s4-bodyContainer #ga-maincontent h2 {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer #ga-maincontent h3 {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .table-college thead td {
  color: #fff;
  background-color: #2b2b2b;
  border: 1px solid #000;
}
[class*=theme-] #s4-bodyContainer .table-college td {
  border: 1px solid #000;
}
[class*=theme-] #s4-bodyContainer .table-college tr {
  background-color: #eeeeee;
}
[class*=theme-] #s4-bodyContainer .table-college tr:nth-child(2n) {
  background-color: #fff;
}
[class*=theme-] #s4-bodyContainer .nav-secondary {
  border-top: 3px solid #0057b7;
}
[class*=theme-] #s4-bodyContainer .nav-secondary li a {
  background: none !important;
}
[class*=theme-] #s4-bodyContainer .nav-secondary ul.level-2 {
  background: none !important;
}
[class*=theme-] #s4-bodyContainer .secondary-menu .cta-type1 {
  color: #fff !important;
  background: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .small-screen .nav-tab li a,
[class*=theme-] #s4-bodyContainer .small-screen .shortcuts-tab li a {
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .cta-core {
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
}
[class*=theme-] #s4-bodyContainer .image-header--college__content .h1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
[class*=theme-] #s4-bodyContainer .image-stats-wrapper .image-stats-overlay .unit hr {
  background: none;
}
[class*=theme-] #s4-bodyContainer .faqtainer .question {
  border-bottom: 1px solid #cccccc;
}
[class*=theme-] #s4-bodyContainer .faqtainer .question .trigger {
  color: transparent;
}
[class*=theme-] #s4-bodyContainer .faqtainer .toggle_container {
  border-bottom: 1px solid #cccccc;
}
[class*=theme-] #s4-bodyContainer .accordion * {
  --border-color: $blue;
  border-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .accordion .card:not(.collapsed) .card-header button,
[class*=theme-] #s4-bodyContainer .accordion .card-header:hover button {
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .accordion .card {
  --border-color: $blue;
  border-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .accordion .card-header {
  background: #fff;
}
[class*=theme-] #s4-bodyContainer .accordion .card-header h5 {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .accordion .card-header button {
  color: #565656;
}
[class*=theme-] #s4-bodyContainer .testimonial-wrapper .testimonial-content {
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .testimonial-wrapper .testimonial-content::after {
  content: "";
  border-top: 25px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid #deeeff;
}
@media (max-width: 30em) {
  [class*=theme-] #s4-bodyContainer .testimonial-wrapper .testimonial-image {
    background-color: #deeeff;
  }
}
[class*=theme-] #s4-bodyContainer .slate-form {
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .slate-form a {
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .slate-form label {
  color: #565656;
}
[class*=theme-] #s4-bodyContainer .slate-form input:not([type=checkbox]),
[class*=theme-] #s4-bodyContainer .slate-form textarea,
[class*=theme-] #s4-bodyContainer .slate-form select {
  background-color: #fff;
  color: #2b2b2b;
}
[class*=theme-] #s4-bodyContainer .slate-form [type=submit],
[class*=theme-] #s4-bodyContainer .slate-form .action button {
  background-color: #0057b7 !important;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .slate-form [type=submit]:hover,
[class*=theme-] #s4-bodyContainer .slate-form .action button:hover {
  background-color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer h2.acronym-border-circle {
  border-color: #565656;
}
[class*=theme-] #s4-bodyContainer .text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
[class*=theme-] #s4-bodyContainer #pnlClsSrchSearch .cta-type1 {
  background: transparent !important;
  border-radius: 0 !important;
}
[class*=theme-] #s4-bodyContainer .size4of5 h1:not(.text-shadow) {
  border: 3px solid #fff;
  color: #0e4174;
}
[class*=theme-] #s4-bodyContainer .copyright,
[class*=theme-] #s4-bodyContainer .footer {
  background: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .copyright a,
[class*=theme-] #s4-bodyContainer .copyright h3,
[class*=theme-] #s4-bodyContainer .footer a,
[class*=theme-] #s4-bodyContainer .footer h3,
[class*=theme-] #s4-bodyContainer .footer a,
[class*=theme-] #s4-bodyContainer .footer h5 {
  color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer #ga-footer p {
  color: #deeeff;
}
[class*=theme-] #s4-bodyContainer #ga-footer a.social-gray {
  background-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer #ga-footer a.social-gray:hover {
  background-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .copyright {
  border-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .table-theme tr:first-child td,
[class*=theme-] #s4-bodyContainer .table-theme tr:first-child th {
  background-color: #0e4174;
  color: #fff;
  border: 1px solid #000237;
}
[class*=theme-] #s4-bodyContainer .table-theme td,
[class*=theme-] #s4-bodyContainer .table-theme th {
  border-color: #7cbaff;
}
[class*=theme-] #s4-bodyContainer .table-theme tr {
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .table-theme tr:nth-child(2n) {
  background-color: #fff;
}
[class*=theme-] #s4-bodyContainer div.scrollHeader {
  background: #0e4174;
}
[class*=theme-] #s4-bodyContainer .table-striped-dark tbody tr:nth-child(2n+1) td,
[class*=theme-] #s4-bodyContainer .table-striped-dark tbody tr:nth-child(2n+1) th {
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer #majors tr {
  border-left: 1px solid #7cbaff;
  border-right: 1px solid #7cbaff;
}
[class*=theme-] #s4-bodyContainer #majors td {
  border-color: #7cbaff;
}
@media (max-width: 1079px) {
  [class*=theme-] #s4-bodyContainer #majors td {
    border-color: #7cbaff;
  }
  [class*=theme-] #s4-bodyContainer td.academicOffering {
    background-color: #0e4174 !important;
  }
  [class*=theme-] #s4-bodyContainer td.academicOffering a {
    color: #fff !important;
  }
}
@media (max-width: 1279px) {
  [class*=theme-] #s4-bodyContainer #majors tbody tr td:first-child {
    background-color: #0e4174 !important;
  }
  [class*=theme-] #s4-bodyContainer #majors tbody tr td:first-child a {
    color: #fff !important;
  }
}
[class*=theme-] #s4-bodyContainer .nav-primary,
[class*=theme-] #s4-bodyContainer .masthead {
  background-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .dpu-shortcuts {
  background: #0e4174;
  color: #fff;
}
[class*=theme-] #s4-bodyContainer .dpu-shortcuts-drawer {
  background: #0e4174;
}
[class*=theme-] #s4-bodyContainer .dpu-shortcuts-drawer a {
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .dpu-shortcuts-drawer p {
  color: #fff;
}
[class*=theme-] #s4-bodyContainer .nav-primary li.nav-item a {
  color: #fff;
}
[class*=theme-] #s4-bodyContainer .nav-primary li.nav-item a:hover,
[class*=theme-] #s4-bodyContainer .nav-primary li.nav-item a:focus {
  border-bottom: 3px solid #fff;
}
[class*=theme-] #s4-bodyContainer .nav-primary li.nav-item div.sub-nav {
  background-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .dpu-logo .h1 {
  color: #fff;
}
[class*=theme-] #s4-bodyContainer a.site-title-long {
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer #ga-global {
  background-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer #ga-secondary h4 a {
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .nav-secondary .active > a,
[class*=theme-] #s4-bodyContainer .nav-secondary li a:hover,
[class*=theme-] #s4-bodyContainer .nav-secondary li a:focus,
[class*=theme-] #s4-bodyContainer .nav-secondary .level-2 .child-sub a:hover,
[class*=theme-] #s4-bodyContainer .nav-secondary .level-2 .child-page a:hover,
[class*=theme-] #s4-bodyContainer .nav-secondary .level-2 .child-sub a:focus,
[class*=theme-] #s4-bodyContainer .nav-secondary .level-2 .child-page a:focus {
  color: #0057b7 !important;
  background: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .nav-secondary li a,
[class*=theme-] #s4-bodyContainer .nav-secondary ul.level-2:last-child {
  border-bottom: 1px solid #eeeeee;
  color: #555 !important;
}
[class*=theme-] #s4-bodyContainer #navbarCollapse .nav-secondary li a {
  color: #fff !important;
  background: none !important;
}
@media (max-width: 1279px) {
  [class*=theme-] #s4-bodyContainer #navbarCollapse .nav-secondary li a h4 {
    color: #fff !important;
  }
}
[class*=theme-] #s4-bodyContainer .off-canvas-navigation a {
  background-color: #0e4174;
}
@media (max-width: 50em) {
  [class*=theme-] #s4-bodyContainer .site-title-short {
    background: none !important;
  }
}
[class*=theme-] #s4-bodyContainer .cta-blue {
  color: #fff;
  border-color: #0057b7 !important;
  background-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .cta-blue:after {
  border-bottom-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .cta-blue:hover,
[class*=theme-] #s4-bodyContainer .cta-blue:focus {
  color: #fff;
  background-color: #0e4174 !important;
  border-color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .cta-blue:hover:after,
[class*=theme-] #s4-bodyContainer .cta-blue:focus:after {
  border-bottom-color: #fff;
}
[class*=theme-] #s4-bodyContainer .cta-blue--light {
  color: #deeeff;
  border-color: currentColor;
}
[class*=theme-] #s4-bodyContainer .cta-blue--light:after {
  border-bottom-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .cta-blue--light:hover,
[class*=theme-] #s4-bodyContainer .cta-blue--light:focus {
  color: #0057b7;
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .cta-blue--light:hover:after,
[class*=theme-] #s4-bodyContainer .cta-blue--light:focus:after {
  border-bottom-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .cta-blue--ghost,
[class*=theme-] #s4-bodyContainer .cta-blue2 {
  color: #0057b7 !important;
  border-color: currentColor;
  background-color: transparent !important;
}
[class*=theme-] #s4-bodyContainer .cta-blue--ghost:after,
[class*=theme-] #s4-bodyContainer .cta-blue2:after {
  border-bottom-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .cta-blue--ghost:hover,
[class*=theme-] #s4-bodyContainer .cta-blue--ghost:focus,
[class*=theme-] #s4-bodyContainer .cta-blue2:hover,
[class*=theme-] #s4-bodyContainer .cta-blue2:focus {
  color: #fff !important;
  background-color: #0057b7 !important;
  border-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .cta-blue--ghost:hover:after,
[class*=theme-] #s4-bodyContainer .cta-blue--ghost:focus:after,
[class*=theme-] #s4-bodyContainer .cta-blue2:hover:after,
[class*=theme-] #s4-bodyContainer .cta-blue2:focus:after {
  border-bottom-color: #fff;
}
[class*=theme-] #s4-bodyContainer .cta-white--ghost {
  color: #fff !important;
  border-color: #fff;
}
[class*=theme-] #s4-bodyContainer .cta-white--ghost:after {
  border-bottom-color: #fff;
}
[class*=theme-] #s4-bodyContainer .cta-white--ghost:hover,
[class*=theme-] #s4-bodyContainer .cta-white--ghost:focus {
  color: #0057b7 !important;
  background-color: #fff;
  border-color: #fff;
}
[class*=theme-] #s4-bodyContainer .cta-white--ghost:hover:after,
[class*=theme-] #s4-bodyContainer .cta-white--ghost:focus:after {
  border-bottom-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .cta-ghost-blue:hover,
[class*=theme-] #s4-bodyContainer .cta-ghost-blue:focus {
  background-color: #0057b7;
  border-color: #0057b7;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer #pnlClsSrchSearch .cta-type1 {
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer #pnlClsSrchSearch .cta-type1:hover {
  background: #0057b7 !important;
  border-color: #0057b7 !important;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .card-panel--blue {
  --border-color: $blue;
  border-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .image-header--content h1 {
  text-shadow: 1px 1px 2px #0057b7;
}
[class*=theme-] #s4-bodyContainer .testimonial-content::after {
  border-left-color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .bg-teal {
  background: #3ba39d;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .bg-teal--light {
  background: #edfbfa;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .text-teal--med {
  color: #0057b7 !important;
}
@media (min-width: 50em) {
  [class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container {
    background: linear-gradient(90deg, transparent 50%, #86b7f8 50%);
  }
}
@media (max-width: 50em) {
  [class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container {
    background: linear-gradient(transparent 50%, #fff 50%);
  }
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container .outcomes-panel-circle h2 {
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .panel-obj > h4 {
  border-bottom: 1px solid #cccccc;
  color: #e5f0fe !important;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-container {
  border: 1px solid #0057b7;
  background: #fff;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-drawer-heading {
  background-color: #fff;
  color: #565656 !important;
  border-top: 1px solid #0057b7;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-drawer-heading:hover,
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-drawer-heading:focus {
  background-color: #ecf3ff;
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .d_active {
  background: #ecf3ff;
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-content {
  background-color: #fff;
  border: none;
}
[class*=theme-] #s4-bodyContainer .Tab_WP .tab-content strong {
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--new {
  background: #00a9a5;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--light {
  background: #edfbfa;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-gray {
  background: #f9f9f9;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--grad1 {
  background-color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--grad2 {
  background-color: #1a4979;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--grad3 {
  background-color: #153b63;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--grad4 {
  background-color: #102f4f;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--bright {
  background-color: #4c6bf0;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--bright1 {
  background-color: #5c78f1;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-blue--bright3 {
  background-color: #4662db;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--grad1 {
  background-color: #2a7c78;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--grad2 {
  background-color: #30918c;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--grad3 {
  background-color: #3ba39d;
}
[class*=theme-] #s4-bodyContainer .info-grid .bg-teal--grad4 {
  background-color: #3ab4ae;
}
[class*=theme-] #s4-bodyContainer .border-white {
  border-color: #fff;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 {
  border: 1px solid #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 .cta-type1 {
  background: none !important;
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 .cta-type1:hover {
  background-color: #0e4174 !important;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 h3.media-heading {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 strong {
  color: #0e4174;
}
[class*=theme-] #s4-bodyContainer .skinsstructure1 a strong {
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .hr-blue {
  border-color: #0e4174;
}
[class*=theme-] #s4-bodyContainer .bg-blue {
  background-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .bg-blue--light {
  background-color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .bg-blue--light2 {
  background-color: #deeeff;
}
[class*=theme-] #s4-bodyContainer .bg-blue--bright {
  background-color: #7cbaff;
}
[class*=theme-] #s4-bodyContainer .bg-blue--med {
  background-color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .bg-blue--dark {
  background-color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .bg-blue--dark2 {
  background-color: #0e4174;
}
[class*=theme-] #s4-bodyContainer .bg-white {
  background-color: #fff;
}
[class*=theme-] #s4-bodyContainer .bg-green {
  background-color: #fff;
}
[class*=theme-] #s4-bodyContainer .bg-blue--hard-light {
  background-color: #deeeff;
  mix-blend-mode: hard-light;
}
[class*=theme-] #s4-bodyContainer .bg-blue--dark--hard-light {
  background-color: #0e4174;
  mix-blend-mode: hard-light;
}
[class*=theme-] #s4-bodyContainer .bg-blend--blue-hard-light {
  background: rgba(14, 65, 116, 0.8);
  mix-blend-mode: hard-light;
}
[class*=theme-] #s4-bodyContainer .bg-gradient--1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, rgba(72, 164, 189, 0.5)), color-stop(1, rgba(58, 102, 145, 0.5)));
  background-image: -o-linear-gradient(bottom, rgba(72, 164, 189, 0.5) 25%, rgba(58, 102, 145, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(72, 164, 189, 0.5) 25%, rgba(58, 102, 145, 0.5) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(72, 164, 189, 0.5) 25%, rgba(58, 102, 145, 0.5) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(72, 164, 189, 0.5) 25%, rgba(58, 102, 145, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(72, 164, 189, 0.5) 25%, rgba(58, 102, 145, 0.5) 100%);
}
[class*=theme-] #s4-bodyContainer .border-b-blue--light {
  border-bottom-color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .border-blue {
  border-color: #7cbaff !important;
}
[class*=theme-] #s4-bodyContainer .border-teal--med {
  border-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .border-teal {
  border-color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .text-teal {
  color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .text-blue {
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .text-blue--bright {
  color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer .text-blue--light,
[class*=theme-] #s4-bodyContainer .text-blue--light2 {
  color: #deeeff !important;
}
[class*=theme-] #s4-bodyContainer .text-blue--med2 {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .text-blue--dark {
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer .text-white {
  color: #fff;
}
[class*=theme-] #s4-bodyContainer .text-green {
  color: #0057b7;
}
[class*=theme-] #s4-bodyContainer .image-stats-wrapper .image-stats-overlay {
  background-color: #0e4174;
  background: rgba(0, 0, 0, 0.5);
}
[class*=theme-] #s4-bodyContainer .image-stats-wrapper .image-stats-overlay .unit hr {
  border: 0 #ddd solid;
}
@media (max-width: 1080px) {
  [class*=theme-] #s4-bodyContainer .table-striped-dark tbody tr td {
    background: #fff;
  }
}
@media (max-width: 50em) {
  [class*=theme-] #s4-bodyContainer .site-title-short {
    background: #0057b7 !important;
  }
}
[class*=theme-] #s4-bodyContainer .col h1:not(.text-shadow) {
  border-bottom: 3px solid #157bfb;
  color: #157bfb;
}
[class*=theme-] #s4-bodyContainer .accessible-megamenu-top-nav-item a {
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .accessible-megamenu-panel {
  background-color: #0057b7 !important;
}
[class*=theme-] #s4-bodyContainer #depaulShortcuts {
  background: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer #cludo-search-content-form .search_autocomplete,
[class*=theme-] #s4-bodyContainer #cludo-search-form .search_autocomplete {
  background-color: #fff;
  border: 1px solid #efefef;
}
[class*=theme-] #s4-bodyContainer #cludo-search-content-form .search_autocomplete li,
[class*=theme-] #s4-bodyContainer #cludo-search-form .search_autocomplete li {
  border-bottom: 1px solid #efefef;
  color: #2b2b2b;
}
[class*=theme-] #s4-bodyContainer #cludo-search-content-form .search_autocomplete li:hover,
[class*=theme-] #s4-bodyContainer #cludo-search-form .search_autocomplete li:hover {
  background-color: #efefef;
}
[class*=theme-] #s4-bodyContainer #cludo-search-content-form .search_autocomplete li.active,
[class*=theme-] #s4-bodyContainer #cludo-search-form .search_autocomplete li.active {
  background-color: #d6d6d6;
}
[class*=theme-] #s4-bodyContainer #cludo-search-content-form .search_autocomplete .autocomplete-separator,
[class*=theme-] #s4-bodyContainer #cludo-search-form .search_autocomplete .autocomplete-separator {
  border-bottom: 1px solid #d6d6d6;
}
[class*=theme-] #s4-bodyContainer #cludo-search-results .search-results .search-results-item {
  border-bottom: 1px solid #efefef;
}
[class*=theme-] #s4-bodyContainer #cludo-search-results .search-results .search-results-item p {
  color: #2b2b2b;
}
[class*=theme-] #s4-bodyContainer .bg-gradient--2 {
  background: -moz-linear-gradient(top, rgba(0, 87, 183, 0) 0%, #0057b7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 87, 183, 0) 0%, #0057b7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 87, 183, 0) 0%, #0057b7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000057b7", endColorstr="#0057b7",GradientType=0 );
  /* IE6-9 */
}
[class*=theme-] #s4-bodyContainer .image-stats-wrapper .image-stats-overlay {
  background-color: #0a1929;
  background: rgba(0, 0, 0, 0.5);
}
[class*=theme-] #s4-bodyContainer .image-stats-wrapper .image-stats-overlay .unit hr {
  border: 0 #ddd solid;
  background: none;
}
[class*=theme-] #s4-bodyContainer .cta-core {
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
}
[class*=theme-] #s4-bodyContainer .cta-ghost-blue:hover,
[class*=theme-] #s4-bodyContainer .cta-ghost-blue:focus {
  background-color: #0057b7;
  border-color: #0057b7;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .bg-teal {
  background: #3ba39d;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .bg-teal--light {
  background: #edfbfa;
}
@media (min-width: 50em) {
  [class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container {
    background: linear-gradient(90deg, transparent 50%, #edfbfa 50%);
  }
}
@media (max-width: 50em) {
  [class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container {
    background: linear-gradient(transparent 50%, #edfbfa 50%);
  }
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .outcomes-panel-circle-container .outcomes-panel-circle h2 {
  color: white !important;
}
[class*=theme-] #s4-bodyContainer .outcomes-panel .text-teal--med {
  color: #0057b7 !important;
}
@media (max-width: 1080px) {
  [class*=theme-] #s4-bodyContainer .table-striped-dark tbody tr td {
    background: #fff;
  }
}
[class*=theme-] #s4-bodyContainer #pnlClsSrchSearch .cta-type1 {
  background: transparent !important;
  color: #0e4174 !important;
}
[class*=theme-] #s4-bodyContainer #pnlClsSrchSearch .cta-type1:hover {
  background: #0e4174 !important;
  border-color: #0e4174 !important;
  color: #fff !important;
}
[class*=theme-] #s4-bodyContainer .panel-obj > h4 {
  border-bottom: 1px solid #cccccc;
  color: #0057b7 !important;
}
@media (max-width: 768px) {
  [class*=theme-] #s4-bodyContainer .site-title-short {
    background: #0057b7 !important;
  }
}
[class*=theme-] #s4-bodyContainer .small-screen .nav-tab li a,
[class*=theme-] #s4-bodyContainer .small-screen .shortcuts-tab li a {
  color: #fff;
}

/*# sourceMappingURL=dpu-theme-rb.css.map */
