/* TEST COLORS */
/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\ TOOLS /\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\ GENERIC \/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/ BASE \/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
html {
  background: #0e4174 !important;
}

@media (max-width: 30em) {
  html {
    font-size: 120% !important;
  }
}
@media (min-width: 30em) and (max-width: 50em) {
  html {
    font-size: 120% !important;
  }
}
@media (min-width: 50em) {
  html {
    font-size: 140% !important;
  }
}
body.theme-new-core {
  font-family: "Source Sans Pro", Arial, sans-serif;
  background: #0e4174;
  color: #565656;
  border-top: 4px solid #0e4174;
  font-size: 0.9rem;
}

#s4-bodyContainer img {
  max-width: 100%;
}

.theme-new-core {
  /* Home Page */
  /* tablet home header fixes */
}
@media (max-width: 50em) {
  .theme-new-core .home-header--container {
    background: #0e4174;
  }
}
.theme-new-core .home-header--container .home-header--image {
  height: 600px;
  padding: 0;
  position: relative;
  z-index: 2;
  clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
}
.theme-new-core .theme-new-core .home-header--container .home-header--image {
  z-index: 2;
}
.theme-new-core .home-header--container .home-header--image .triangle {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 50em) {
  .theme-new-core .home-header--container .home-header--image {
    height: 300px;
  }
}
.theme-new-core .home-header--container .home-header--content {
  position: relative;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
}
.theme-new-core .home-header--container .home-header--content .home-header--tagline {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 87, 183, 0.7);
  padding: 0 30px;
  width: 650px;
  z-index: 3;
}
.theme-new-core .theme-new-core .home-header--container .home-header--content .home-header--tagline {
  z-index: 3;
}
.theme-new-core .home-header--container .home-header--content .home-header--tagline h2 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 50em) {
  .theme-new-core .home-header--container .home-header--content .home-header--tagline {
    width: 100%;
    position: inherit;
    background: none;
    text-align: center;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--tagline h2 {
    font-size: 2rem;
    text-shadow: none;
    font-weight: bold;
  }
}
.theme-new-core .home-header--container .home-header--content .home-header--cta {
  position: absolute;
  bottom: -150px;
  right: 0;
  background: #0e4174;
  padding: 0 30px;
  color: #fff;
  width: 33%;
  height: 400px;
  z-index: 1;
}
.theme-new-core .theme-new-core .home-header--container .home-header--content .home-header--cta {
  z-index: 1;
}
.theme-new-core .home-header--container .home-header--content .home-header--cta div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 30px;
}
.theme-new-core .home-header--container .home-header--content .home-header--cta div a {
  color: #fff !important;
  font-size: 0.9rem;
}
@media (max-width: 50em) {
  .theme-new-core .home-header--container .home-header--content .home-header--cta {
    display: block;
    position: initial;
    width: auto;
    height: auto;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta div {
    position: initial;
    padding: 15px 0px;
    text-align: center;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta h3:last-child a {
    font-size: 1.4rem;
    text-decoration: underline !important;
  }
}
@media (max-width: 1150px) {
  .theme-new-core .icon-container .icon-caption {
    max-width: 60%;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta {
    bottom: -175px;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta h3:first-child {
    margin-bottom: 0;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta h3:last-child {
    margin-top: 0.5em;
  }
}
@media (max-width: 800px) {
  .theme-new-core .home-header--container .home-header--content {
    padding: 0 !important;
  }
  .theme-new-core .home-header--container .home-header--content > div {
    padding: 0 15px !important;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta {
    position: initial !important;
    height: auto !important;
  }
  .theme-new-core .home-header--container .home-header--content .home-header--cta > div {
    position: initial !important;
    padding: 1px 0 !important;
  }
}
.theme-new-core .home-page--h2 {
  font-size: 2.5rem;
  color: #1667b8 !important;
}
.theme-new-core .home-icon--container {
  padding-top: 90px;
  margin-bottom: 0;
}
@media (max-width: 50em) {
  .theme-new-core .home-icon--container {
    padding: 0;
  }
}
.theme-new-core .home-icon--container .icon-container {
  padding: 0 15px 30px 15px !important;
}
@media (max-width: 50em) {
  .theme-new-core .home-icon--container .icon-container {
    padding: 30px 15px !important;
  }
  .theme-new-core .home-icon--container .icon-container .triangle1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .theme-new-core .home-icon--container .icon-container .triangle2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .theme-new-core .home-icon--container .icon-container:first-child {
    background: #eeeeee;
    position: relative;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  .theme-new-core .home-icon--container .icon-container.icon-container--swap .mobile-icon {
    display: inline-block !important;
  }
  .theme-new-core .home-icon--container .icon-container.icon-container--swap .icon-caption {
    padding-right: 15px !important;
    padding-left: 0 !important;
    text-align: right;
  }
}
.theme-new-core .home-icon--container .icon-caption {
  line-height: 1;
}
.theme-new-core .home-icon--container .icon-caption span {
  font-size: 0.85rem;
}
@media (max-width: 50em) {
  .theme-new-core .home-icon--container .icon-caption {
    max-width: calc(100% - 70px);
  }
  .theme-new-core .home-icon--container .icon-caption span {
    font-size: 1.25rem;
  }
}
.theme-new-core .home-icon--container .icon-caption h3 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Roboto Slab", serif;
}
@media (max-width: 50em) {
  .theme-new-core .home-icon--container .icon-caption h3 {
    font-size: 3rem;
  }
}
.theme-new-core .more-about-mobile {
  background: #1a5a99;
  margin: 0;
  text-align: center;
  padding: 1em;
  font-size: 1.75rem;
}
.theme-new-core .more-about-mobile a {
  color: #fff;
  text-decoration: underline;
}
.theme-new-core .academics-section--container {
  text-align: center;
  height: 600px;
  display: table;
  position: relative;
  width: 100%;
}
.theme-new-core .academics-section--container .triangle {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 50em) {
  .theme-new-core .academics-section--container {
    height: auto;
    padding: 30px 15px;
  }
}
.theme-new-core .academics-section--content {
  display: table-cell;
  vertical-align: middle;
}
.theme-new-core .academics-section--content h2 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.theme-new-core .academics-section--content .cta-core {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: #fff;
}
@media (max-width: 50em) {
  .theme-new-core .academics-section--content .cta-core {
    max-width: 100%;
  }
}
.theme-new-core .academics-section--content .cta-core:hover,
.theme-new-core .academics-section--content .cta-core:focus {
  background: #0e4174;
}
.theme-new-core .academics-section--content .cta-core h3 {
  display: inline;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.6rem;
  padding-right: 5px;
}
.theme-new-core .cta-section--container {
  padding: 120px 15px 15px 15px;
  margin-bottom: 0;
  position: relative;
}
.theme-new-core .cta-section--container .triangle {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 50em) {
  .theme-new-core .cta-section--container {
    padding: 75px 0 0 0;
  }
  .theme-new-core .cta-section--container .container-1080 {
    margin-bottom: 0;
  }
}
.theme-new-core .cta-section--container h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 50em) {
  .theme-new-core .cta-section--container h2 {
    margin-bottom: 0;
  }
}
.theme-new-core .cta-section--container a {
  color: #beddff;
}
.theme-new-core .give-container {
  display: table;
  padding: 15px 0;
}
.theme-new-core .give-container h2 {
  font-weight: bold;
  color: #beddff;
}
@media (min-width: 50em) {
  .theme-new-core .give-container h2 {
    font-size: 1.425rem;
  }
}
.theme-new-core .give-container .give-content {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
@media (max-width: 50em) {
  .theme-new-core .give-container {
    display: inherit;
    padding: 0;
  }
  .theme-new-core .give-container .give-content {
    display: inherit;
    float: left;
  }
  .theme-new-core .give-container h2,
.theme-new-core .give-container p {
    margin-top: 0;
  }
  .theme-new-core .give-container h2 {
    text-align: center;
  }
}
@media (max-width: 50em) {
  .theme-new-core .request-info-container {
    height: 350px;
  }
  .theme-new-core .request-info-container h2,
.theme-new-core .request-info-container a,
.theme-new-core .request-info-container p {
    color: #fff !important;
    font-weight: 400;
    text-shadow: 1px 1px 1px #3c3c3c;
  }
  .theme-new-core .request-info-container a {
    font-size: 1.5rem;
  }
}
@media (max-width: 50em) {
  .theme-new-core .home-mobile-footer-cta {
    background: #0e4174 !important;
    color: #beddff;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #3c3c3c;
  }
  .theme-new-core .home-mobile-footer-cta h2 {
    margin: 0;
    padding: 1rem 0;
    font-size: 1.75rem;
    font-weight: normal;
    color: #beddff;
  }
  .theme-new-core .home-mobile-footer-cta h2:after {
    content: " >";
  }
  .theme-new-core #ga-maincontent .home-mobile-footer-cta a,
.theme-new-core .theme-new-core #ga-maincontent .home-mobile-footer-cta a {
    color: #beddff !important;
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=dpu-core-rb-hp.css.map */
