@function scale($color, $n: 0) {
	$scaled: scale-color($color, $lightness: 1% * $n);
	@return $scaled;
}

/* TEST COLORS */
$blue: #0057b7;
$blue-dark: #0e4174;
$blue-med: scale($blue, 10);
$blue-light: scale($blue,
		30); // <-- sticking with multiples of 10 keeps consistent with new colors
$blue-superlight: scale($blue, 80);
$blue-white: scale($blue, 90);

$text-blue: $blue;
$text-blue--dark: $blue-dark;
$text-blue--med: scale($blue-dark, 20);
$text-blue--light: scale($blue, 70);
$text-blue--superlight: $blue-superlight;
$text-blue--white: $blue-white;

$teal: #41b4ad;
$teal-med: scale($teal, -10);
$teal-text: scale($teal, 10);

$red: #af272f;
$red-med: scale($red, -10);
$yellow: #f8e87c;

$gray: #565656;
$gray-dark: scale($gray, -30);
$gray-light: scale($gray, 90);
$white: #fff;
$black: #000;

$colors: (
	// single and double dash to cover all areas
	'blue': $blue,
	'red': $red,
	'gray': $gray,
	'blue--dark': $blue-dark,
	'blue--med': $blue-med,
	'blue--light': $blue-light,
	'blue--superlight': $blue-superlight,
	'blue--white': $blue-white,
	'blue-dark': $blue-dark,
	'blue-med': $blue-med,
	'blue-light': $blue-light,
	'blue-superlight': $blue-superlight,
	'blue-white': $blue-white,
	'gray--dark': $gray-dark,
	'gray--light': $gray-light,
	'gray-dark': $gray-dark,
	'gray-light': $gray-light,
	'white': $white
);

/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\ TOOLS /\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\ GENERIC \/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*****************************************************************/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*\/\/\/\/\/\/\/\/\/\/\/\/\/\/ BASE \/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
/*****************************************************************/
html {
	background: $blue-dark !important;
}

@media (max-width: 30em) {
	html {
		font-size: 120% !important;
	}
}

@media (min-width: 30em) and (max-width: 50em) {
	html {
		font-size: 120% !important;
	}
}

@media (min-width: 50em) {
	html {
		font-size: 140% !important;
	}
}

body.theme-new-core {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background: $blue-dark;
	color: $gray;
	border-top: 4px solid $blue-dark;
	font-size: 0.9rem;
}

#s4-bodyContainer img {
	max-width: 100%;
}

.theme-new-core {

	/* Home Page */
	@media (max-width: 50em) {
		.home-header--container {
			background: $blue-dark;
		}
	}

	.home-header--container .home-header--image {
		height: 600px;
		padding: 0;
		position: relative;
		z-index: 2;
		clip-path: polygon(100% 0, 100% 86%, 65% 100%, 0 86%, 0 0);
	}

	.theme-new-core .home-header--container .home-header--image {
		z-index: 2;
	}

	.home-header--container .home-header--image .triangle {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	@media (max-width: 50em) {
		.home-header--container .home-header--image {
			height: 300px;
		}
	}

	.home-header--container .home-header--content {
		position: relative;
		height: 100%;
		padding: 0;
		margin-bottom: 0;
	}

	.home-header--container .home-header--content .home-header--tagline {
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba($blue, 0.7);
		padding: 0 30px;
		width: 650px;
		z-index: 3;
	}

	.theme-new-core .home-header--container .home-header--content .home-header--tagline {
		z-index: 3;
	}

	.home-header--container .home-header--content .home-header--tagline h2 {
		color: $white;
		font-size: 3rem;
		text-shadow: 2px 2px 1px rgba($black, 0.5);
	}

	@media (max-width: 50em) {
		.home-header--container .home-header--content .home-header--tagline {
			width: 100%;
			position: inherit;
			background: none;
			text-align: center;
		}

		.home-header--container .home-header--content .home-header--tagline h2 {
			font-size: 2rem;
			text-shadow: none;
			font-weight: bold;
		}
	}

	.home-header--container .home-header--content .home-header--cta {
		position: absolute;
		bottom: -150px;
		right: 0;
		background: $blue-dark;
		padding: 0 30px;
		color: $white;
		width: 33%;
		height: 400px;
		z-index: 1;
	}

	.theme-new-core .home-header--container .home-header--content .home-header--cta {
		z-index: 1;
	}

	.home-header--container .home-header--content .home-header--cta div {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 30px;
	}

	.home-header--container .home-header--content .home-header--cta div a {
		color: $white !important;
		font-size: 0.9rem;
	}

	@media (max-width: 50em) {
		.home-header--container .home-header--content .home-header--cta {
			display: block;
			position: initial;
			width: auto;
			height: auto;
		}

		.home-header--container .home-header--content .home-header--cta div {
			position: initial;
			padding: 15px 0px;
			text-align: center;
		}

		.home-header--container .home-header--content .home-header--cta h3:last-child a {
			font-size: 1.4rem;
			text-decoration: underline !important;
		}


	}

	/* tablet home header fixes */
	@media (max-width: 1150px) {
		.icon-container .icon-caption {
			max-width: 60%;
		}

		.home-header--container .home-header--content .home-header--cta {
			bottom: -175px;
		}

		.home-header--container .home-header--content .home-header--cta h3:first-child {
			margin-bottom: 0;
		}

		.home-header--container .home-header--content .home-header--cta h3:last-child {
			margin-top: 0.5em;
		}
	}

	@media (max-width: 800px) {
		.home-header--container .home-header--content {
			padding: 0 !important;
		}

		.home-header--container .home-header--content>div {
			padding: 0 15px !important;
		}

		.home-header--container .home-header--content .home-header--cta {
			position: initial !important;
			height: auto !important;
		}

		.home-header--container .home-header--content .home-header--cta>div {
			position: initial !important;
			padding: 1px 0 !important;
		}
	}

	.home-page--h2 {
		font-size: 2.5rem;
		color: $text-blue--med !important;
	}

	.home-icon--container {
		padding-top: 90px;
		margin-bottom: 0;
	}

	@media (max-width: 50em) {
		.home-icon--container {
			padding: 0;
		}
	}

	.home-icon--container .icon-container {
		padding: 0 15px 30px 15px !important;
	}

	@media (max-width: 50em) {
		.home-icon--container .icon-container {
			padding: 30px 15px !important;
		}

		.home-icon--container .icon-container .triangle1 {
			position: absolute;
			top: 0;
			left: 0;
		}

		.home-icon--container .icon-container .triangle2 {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.home-icon--container .icon-container:first-child {
			background: $gray-light;
			position: relative;
			padding-top: 45px !important;
			padding-bottom: 45px !important;
		}

		.home-icon--container .icon-container.icon-container--swap .mobile-icon {
			display: inline-block !important;
		}

		.home-icon--container .icon-container.icon-container--swap .icon-caption {
			padding-right: 15px !important;
			padding-left: 0 !important;
			text-align: right;
		}
	}

	.home-icon--container .icon-caption {
		line-height: 1;
	}

	.home-icon--container .icon-caption span {
		font-size: 0.85rem;
	}

	@media (max-width: 50em) {
		.home-icon--container .icon-caption {
			max-width: calc(100% - 70px);
		}

		.home-icon--container .icon-caption span {
			font-size: 1.25rem;
		}
	}

	.home-icon--container .icon-caption h3 {
		font-size: 1.5rem;
		font-style: italic;
		font-family: 'Roboto Slab', serif;
	}

	@media (max-width: 50em) {
		.home-icon--container .icon-caption h3 {
			font-size: 3rem;
		}
	}

	.more-about-mobile {
		background: scale-color($blue-dark, $saturation: -10%, $lightness: 13%);
		margin: 0;
		text-align: center;
		padding: 1em;
		font-size: 1.75rem;
	}

	.more-about-mobile a {
		color: $white;
		text-decoration: underline;
	}

	.academics-section--container {
		text-align: center;
		height: 600px;
		display: table;
		position: relative;
		width: 100%;
	}

	.academics-section--container .triangle {
		position: absolute;
		top: 0;
		left: 0;
	}

	@media (max-width: 50em) {
		.academics-section--container {
			height: auto;
			padding: 30px 15px;
		}
	}

	.academics-section--content {
		display: table-cell;
		vertical-align: middle;
	}

	.academics-section--content h2 {
		color: $white;
		font-size: 3rem;
		text-shadow: 2px 2px 1px rgba($black, 0.5);
	}

	.academics-section--content .cta-core {
		text-shadow: 1px 1px 1px rgba($black, 0.5);
		width: 100%;
		max-width: 400px;
		background: rgba($black, 0.25);
		font-size: 1.2rem;
		margin-left: auto;
		margin-right: auto;
		display: block;
		border-color: $white;
	}

	@media (max-width: 50em) {
		.academics-section--content .cta-core {
			max-width: 100%;
		}
	}

	.academics-section--content .cta-core:hover,
	.academics-section--content .cta-core:focus {
		background: $blue-dark;
	}

	.academics-section--content .cta-core h3 {
		display: inline;
		font-family: 'Roboto Slab', sans-serif;
		font-size: 1.6rem;
		padding-right: 5px;
	}



	.cta-section--container {
		padding: 120px 15px 15px 15px;
		margin-bottom: 0;
		position: relative;
	}

	.cta-section--container .triangle {
		position: absolute;
		top: 0;
		left: 0;
	}

	@media (max-width: 50em) {
		.cta-section--container {
			padding: 75px 0 0 0;
		}

		.cta-section--container .container-1080 {
			margin-bottom: 0;
		}
	}

	.cta-section--container h2 {
		font-size: 2.5rem;
		text-shadow: 2px 2px 1px rgba($black, 0.5);
	}

	@media (max-width: 50em) {
		.cta-section--container h2 {
			margin-bottom: 0;
		}
	}

	.cta-section--container a {
		color: $blue-superlight;
	}

	.give-container {
		display: table;
		padding: 15px 0;
	}

	.give-container h2 {
		font-weight: bold;
		color: $blue-superlight;
	}

	@media (min-width: 50em) {
		.give-container h2 {
			font-size: 1.425rem;
		}
	}

	.give-container .give-content {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}

	@media (max-width: 50em) {
		.give-container {
			display: inherit;
			padding: 0;
		}

		.give-container .give-content {
			display: inherit;
			float: left;
		}

		.give-container h2,
		.give-container p {
			margin-top: 0;
		}

		.give-container h2 {
			text-align: center;
		}
	}

	@media (max-width: 50em) {
		.request-info-container {
			height: 350px;
		}

		.request-info-container h2,
		.request-info-container a,
		.request-info-container p {
			color: $white !important;
			font-weight: 400;
			text-shadow: 1px 1px 1px $gray-dark;
		}

		.request-info-container a {
			font-size: 1.5rem;
		}
	}

	@media (max-width: 50em) {
		.home-mobile-footer-cta {
			background: $blue-dark !important;
			color: $blue-superlight;
			padding: 0 !important;
			margin: 0 !important;
			border-bottom: 1px solid $gray-dark;
		}

		.home-mobile-footer-cta h2 {
			margin: 0;
			padding: 1rem 0;
			font-size: 1.75rem;
			font-weight: normal;
			color: $blue-superlight;
		}

		.home-mobile-footer-cta h2:after {
			content: ' >';
		}

		#ga-maincontent .home-mobile-footer-cta a,
		.theme-new-core #ga-maincontent .home-mobile-footer-cta a {
			color: $blue-superlight !important;
			font-size: 1.75rem;
		}
	}



}