@function scale($color, $n: 0) {
	$scaled: scale-color($color, $lightness: 1% * $n);
	@return $scaled;
}

$blue: #0057b7;
$dkBlue: #0e4174;
$ltBlue: scale($blue, 80);
$boxBlue: scale($blue, 90);
$white: #fff;
$shadow: 2px 2px 0 $dkBlue;
$din: 'DINPro-Cond', sans-serif;

#dpu-notice-banner {
	display: none !important;
	visibility: hidden !important;
}

.theme-new-core {
	border-top: none !important;

	#ga-maincontent {
		margin-top: 0;
	}

	#s4-bodyContainer {
		.masthead.dpu-tour-masthead {
			// height: auto;
			display: block !important;
			background: $blue;

			>.container-fluid {
				max-width: 1920px;
				padding-top: 27px;
				padding-bottom: 27px;
				margin-bottom: 0 !important;

				@media (max-width: 767px) {
					padding-top: 16px;
					padding-bottom: 16px;
				}
			}

			.site-title {
				font-family: $din;
				font-weight: 700;
				font-size: 24px;
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
			}

			.navbar-brand {
				padding: 0;
			}

			nav#ga-tour {

				.accessible-megamenu,
				ul.nav-primary {
					background: transparent !important;
					font-family: $din;
					font-weight: 700;
					padding: 0 !important;
					font-size: 28px;
					text-transform: uppercase;
					height: auto !important;

					>.accessible-megamenu-top-nav-item {
						float: none;
						display: inline-block;
						padding: 0 !important;

						>a {
							font-size: 28px;
							line-height: 33px;
							text-transform: uppercase !important;
							text-shadow: $shadow  !important;
							padding: 0.25em 0.5em !important;
							height: auto !important;
							cursor: pointer;
							font-family: $din;
							font-weight: 700;

							&.accessible-megamenu-panel {
								background: transparent !important;
								opacity: 1 !important;
								position: static !important;
								max-height: none !important;
								visibility: visible !important;
							}
						}
					}

					@media (max-width: 1279px) {
						display: block !important;
					}
				}
			}

			@media (max-width: 1279px) {
				.col-7 {
					flex: 0 0 58.33333%;
					max-width: 58.33333%;
					width: auto;
				}
			}

			#navbarCollapseTour {
				margin: 0;
				padding: 0;
				background: $blue;

				#localmenu {
					margin-bottom: 0;
				}

				ul.list-unstyled {
					margin-top: 30px;
					margin-bottom: 0;

					li.nav-item {
						padding-left: 0;
						margin-bottom: 2px;

						>a {
							font-size: 24px;
							line-height: 1.1786;
							text-transform: uppercase !important;
							text-shadow: $shadow  !important;
							padding: 0.2em 0 !important;
							height: auto !important;
							display: block;
							font-weight: 700;
							color: #fff;
							font-family: $din;

							&:hover,
							&:focus {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}


		.logo {
			height: 46px;
		}

		.navbar-toggler {
			display: inline-block;
			padding: 0 15px;

			.icon-bar {
				background: #fff;
				display: block;
				width: 36px;
				height: 4px;
				transition: all 0.3s ease-out;
				margin: 8px 0;
			}

			&.minus {
				.icon-bar {
					&:nth-of-type(1) {
						transform: translate3d(0, 12px, 0);
					}

					&:nth-of-type(3) {
						transform: translate3d(0, -12px, 0);
					}
				}

				&.collapsed {
					.icon-bar {
						transform: translate3d(0, 0, 0) rotate(0deg) !important;
					}
				}
			}

			&.cross {
				.icon-bar {
					//            margin-top: 0;
					transform-origin: 50%;
					transform: rotate(45deg);

					&:nth-of-type(1) {
						transform: rotate(45deg) scaleX(1);
						//                transform-origin: 10% 10%;
						transform-origin: 4px 8px;
					}

					&:nth-of-type(2) {
						//                opacity: 0;
						//                filter: opacity(0);
						transform: rotate(0) scaleX(0);
					}

					&:nth-of-type(3) {
						transform: rotate(-45deg) scaleX(1);
						//                transform-origin: 10% 90%;
						transform-origin: 4px -4px;
					}
				}

				&.collapsed {
					.icon-bar {
						transform: rotate(0deg) scaleX(1);
						//                opacity: 1;
						//                filter: opacity(100);
					}
				}
			}
		}

		#map-container {
			height: calc(100vh - 100px);
			height: calc((var(--vh, 1vh) * 100) - 100px);
			position: relative;

			@media (max-width: 767px) {
				height: calc(100vh - 78px);
				height: calc((var(--vh, 1vh) * 100) - 78px);
			}

			#map {
				position: relative;
				z-index: 1;
				height: 100%;
				width: 100%;

				@media (max-width: 575px) {
					height: calc(100% - 63px);
				}
			}

			#title-container {
				position: absolute;
				top: 0;
				right: 0;
				background: $dkBlue;
				padding: 12px 36px;
				z-index: 2;

				h2 {
					color: $ltBlue;
					font-family: $din;
					font-size: 34px;
					line-height: 1.185;
					font-weight: 700;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
				}

				@media (max-width: 575px) {
					width: 100%;
					text-align: center;
					padding: 15px 20px;
					position: static;

					h2 {
						font-size: 28px;
					}
				}
			}

			#campus-link-container {
				position: absolute;
				left: 0;
				bottom: 80px;
				z-index: 2;

				button {
					background: $blue;
					font-size: 24px;
					line-height: 1.185;
					padding: 20px 36px;
					border-radius: 20px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					font-family: $din;
					font-weight: 700;
					color: #fff;
					outline: none;
					border: none;
					text-transform: uppercase;
					text-shadow: $shadow;
					transition: all 0.2s linear;

					&:hover {
						background: $dkBlue;
						color: $ltBlue;
					}

					&:focus-visible {
						outline: 2px solid $dkBlue;
						outline-offset: 2px;
					}
				}

				@media (max-width: 575px) and (orientation: portrait) {
					bottom: 0;

					button {
						padding: 20px 24px 20px 20px;
					}
				}

				@media (max-width: 1200px) and (orientation: landscape) {
					bottom: 0;

					button {
						padding: 20px 24px 20px 20px;
					}
				}
			}
		}

		.mapboxgl-popup {
			max-width: 320px !important;
		}

		.tour-marker {
			background: $blue;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			box-shadow: $shadow;
			cursor: pointer;
		}

		.tour-popup {
			h3 {
				color: #fff;
				text-shadow: $shadow;
				font-family: $din;
				font-weight: 700;
				font-size: 24px;
				line-height: 1.185;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
			}

			.mapboxgl-popup-tip {
				border-bottom-width: 15px;
				border-top-width: 15px;
				border-left-width: 15px;
				border-right-width: 15px;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					display: block;
					border: 15px solid transparent;
					left: 2px;
					top: 2px;
					z-index: 0;
					height: 0;
					width: 0;
					transform: translate(-50%, -50%);
				}

				&:before {
					content: '';
					position: absolute;
					display: block;
					border: 15px solid transparent;
					left: 0;
					top: 0;
					z-index: 1;
					height: 0;
					width: 0;
					transform: translate(-50%, -50%);
				}
			}

			&.mapboxgl-popup-anchor-top {
				.mapboxgl-popup-tip {
					border-bottom-color: $blue;

					&:after,
					&:before {
						display: none;
					}
				}
			}

			&.mapboxgl-popup-anchor-bottom {
				.mapboxgl-popup-tip {
					border-top-color: transparent;

					&:after {
						border-top-color: #000;
					}

					&:before {
						border-top-color: $blue;
					}
				}
			}

			&.mapboxgl-popup-anchor-right {
				.mapboxgl-popup-tip {
					border-left-color: transparent;
					transform: translateX(-2px);

					&:after {
						border-left-color: #000;
					}

					&:before {
						border-left-color: $blue;
					}
				}
			}

			&.mapboxgl-popup-anchor-left {
				.mapboxgl-popup-tip {
					border-right-color: transparent;
					transform: translateX(2px);

					&:before {
						border-right-color: $blue;
					}
				}
			}

			&.mapboxgl-popup-anchor-top-left,
			&.mapboxgl-popup-anchor-top-right {
				.mapboxgl-popup-tip {
					border-bottom-color: $blue;
				}
			}

			&.mapboxgl-popup-anchor-bottom-left,
			&.mapboxgl-popup-anchor-bottom-right {
				.mapboxgl-popup-tip {
					border-top-color: $blue;
				}
			}

			.mapboxgl-popup-content {
				background: $blue;
				border-radius: 20px;
				padding: 10px;
				box-shadow: $shadow;
				min-width: 280px;
				text-align: center;

				a {
					color: #fff !important;

					h3 {
						color: #fff;
					}

					&:hover {
						color: $ltBlue  !important;

						h3 {
							color: $ltBlue;
						}
					}

					&:focus {
						outline: none !important;
						// text-decoration: underline !important;
						// color: $ltBlue !important;

						// h3 {
						//     color: $ltBlue;
						// }
					}

					// &:focus-within{
					//     text-decoration: underline !important;
					//     color: $ltBlue !important;

					//     h3 {
					//         color: $ltBlue;
					//     }
					// }
				}

				@media (max-width: 575px) {
					min-width: auto;
					padding: 10px 30px;
				}
			}
		}

		.modal.tour-modal {
			.modal-dialog {
				margin: 0;

				@media (min-width: 576px) {
					width: 1080px;
					max-width: calc(100% - 60px);
					margin: 0 auto;
				}
			}

			.modal-content {
				border-radius: 0;
				border: none;
			}

			.modal-header {
				padding: 40px 1rem 30px 0;
				border: none;

				h5.modal-title {
					margin: 0;
					padding: 6px 40px 6px 48px;
					background: $blue;
					color: #fff;
					font-family: $din;
					font-weight: 700;
					font-size: 48px;
					display: inline-block;
					text-transform: uppercase;
				}

				.close {
					opacity: 1;
					transition: all 0.2s linear;
					margin-right: calc(-1rem + 2px);
					margin-top: -30px;
					border-radius: 0;
					min-width: auto !important;

					svg {
						fill: $dkBlue;
						width: 35px;
						height: auto;
						display: block;
						transition: all 0.2s linear;
					}

					&:hover,
					&:focus {
						svg {
							fill: $blue;
						}
					}
				}

				@media (max-width: 575px) {
					padding: 20px 1rem 20px 20px;

					h5.modal-title {
						background: transparent;
						color: $dkBlue;
						padding: 0;
						font-size: 34px;
					}

					.close {
						margin-top: -20px;

						svg {
							width: 30px;
						}
					}
				}
			}

			.modal-body {
				padding: 0 90px;

				>*:last-child {
					margin-bottom: 0;
				}

				p {
					font-size: 21px;

					// &:first-of-type {
					//     margin-top: 0;
					// }

					// &:last-of-type {
					//     margin-bottom: 0;
					// }
				}

				ul {
					font-size: 21px;
					list-style: circle;

					li {
						margin-bottom: 4px;

						&::marker {
							color: $blue;
						}

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				.video-section {
					margin: 0 -90px 20px;
					padding: 30px 90px 0;
					background: linear-gradient(110.07deg,
							#ffffff 6.47%,
							rgba(255, 255, 255, 0) 22.1%),
						linear-gradient(250.89deg, #ffffff 5.23%, rgba(255, 255, 255, 0) 20.99%),
						linear-gradient(179.1deg,
							#ffffff 14.72%,
							rgba(255, 255, 255, 0.744792) 36.28%,
							rgba(255, 255, 255, 0) 99.23%),
						linear-gradient(90deg, #0057b7 0%, #af272f 100%);

					iframe {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 0;
					}
				}

				.blue-box {
					background: $boxBlue;
					padding: 40px 40px 45px 40px;
					color: #00417e;
					margin-top: 30px;

					.heading {
						font-family: $din;
						font-weight: 400;
						font-size: 42px;
						color: #005eb8;
						line-height: 1;
						margin: 0 0 20px 0;
						padding: 0;
						display: block;
						text-transform: uppercase;
					}

					p {
						// color: #00417E;
					}
				}

				.image-section {
					margin: 0 -6px;
					display: flex;

					&:after {
						content: '';
						clear: both;
						display: table;
					}

					figure {
						float: left;
						padding: 0 6px;
						margin: 0;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center;
						}

						&.one-third {
							width: 33.33%;
						}

						&.two-thirds {
							width: 66.67%;
						}
					}
				}

				@media (max-width: 575px) {
					padding: 0 20px;

					p,
					ul {
						font-size: 18px;
					}

					.blue-box {
						margin: 26px -20px 0;
						padding: 20px 20px 24px 20px;

						.heading {
							font-size: 34px;
						}
					}

					.video-section {
						padding: 0;
						background: transparent;
						margin: 0 -20px;
					}

					.image-section {
						margin: 0 -20px;
						display: block;

						figure {
							width: 100% !important;
							padding: 0;
							float: none;
							margin-bottom: 12px;

							&:last-child {
								margin-bottom: 0;
							}
						}
					}

					figure {
						margin: 0 -20px;
					}
				}
			}

			.modal-footer {
				padding: 30px 90px 40px;
				display: block;
				border: none;
				border-radius: 0;

				.btn {
					margin: 0;
				}

				@media (max-width: 575px) {
					padding: 30px 20px 40px;

					.btn {
						display: block;
					}
				}
			}
		}

		.btn.btn-tour {
			font-size: 21px;
			color: $blue;
			border: 3px solid $blue;
			box-shadow: 5px 5px 0 $blue;
			border-radius: 0;
			transition: all 0.2s linear;

			&:hover,
			&:focus {
				border: 3px solid $dkBlue;
				outline-color: $dkBlue  !important;
				box-shadow: 0 0 0 $dkBlue;
				transform: translate3d(3px, 3px, 0);
				background: $dkBlue;
				color: $white;
			}
		}

		.error-message {
			background: #fff;
			text-align: center;
			padding: 2rem 0;
		}

		// $dinCond-font: '../fonts/din-pro-condensed/DINPro-Cond';

		$dinCond-font: '/_layouts/15/DU.SPBaseLibs/css/webfonts/din-pro-condensed/DINPro-Cond';

		@font-face {
			font-family: 'DINPro-Cond';
			font-weight: 700;
			font-style: normal;
			src: url('#{$dinCond-font}Bold.woff') format('woff'),
			url('#{$dinCond-font}Bold.otf') format('opentype');
		}

		@font-face {
			font-family: 'DINPro-Cond';
			font-weight: 400;
			font-style: normal;
			src: url('#{$dinCond-font}.woff') format('woff'),
			url('#{$dinCond-font}.otf') format('opentype');
		}
	}
}